<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="taskGroup">
      <section
        name="task"
        type="OxAutomation.Configuration.TaskSection"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <task name="KK" startTime="6:0:0" process="TSConsole">
    <sendMessage />
  </task>
  <appSettings>
    <add key="Schedule" value="6:0:0" />
    <add key="Timeout" value="0:0:20" />
  </appSettings>
</configuration>