src/Debug/TSConsole.exe
src/Debug/TSConsole.ilk
src/Debug/TSConsole.pdb
src/ipch/tsconsole-633313c2/tsconsole-a719daa6.ipch
src/ipch/tsconsole2-af37b426/tsconsole2-8a799778.ipch
src/OXAutomationService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/OXAutomationService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/OXAutomationService/obj/Debug/OXAutomationService.csproj.FileListAbsolute.txt
src/OXAutomationService/obj/Debug/OXAutomationService.csprojResolveAssemblyReference.cache
src/OXAutomationService/obj/Debug/OXAutomationService.exe
src/OXAutomationService/obj/Debug/OXAutomationService.pdb
src/OXAutomationService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/OXAutomationService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/OXAutomationService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/OXAutomationConsole/bin/Debug/OXAutomationConsole.exe.config
src/OXAutomationConsole/bin/Debug/OXAutomationConsole.pdb
src/OXAutomationConsole/bin/Debug/OXAutomationConsole.vshost.exe
src/OXAutomationConsole/bin/Debug/OXAutomationConsole.vshost.exe.config
src/OXAutomationConsole/bin/Debug/OXAutomationConsole.vshost.exe.manifest
src/OXAutomationConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/OXAutomationConsole/obj/Debug/OXAutomationConsole.csproj.FileListAbsolute.txt
src/OXAutomationConsole/obj/Debug/OXAutomationConsole.csprojResolveAssemblyReference.cache
src/OXAutomationConsole/obj/Debug/OXAutomationConsole.exe
src/OXAutomationConsole/obj/Debug/OXAutomationConsole.pdb
src/OXAutomationConsole/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/OXAutomationConsole/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/OXAutomationConsole/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TSConsole/Debug/cl.command.1.tlog
src/TSConsole/Debug/CL.read.1.tlog
src/TSConsole/Debug/CL.write.1.tlog
src/TSConsole/Debug/link-cvtres.read.1.tlog
src/TSConsole/Debug/link-cvtres.write.1.tlog
src/TSConsole/Debug/link-rc.read.1.tlog
src/TSConsole/Debug/link-rc.write.1.tlog
src/TSConsole/Debug/link.command.1.tlog
src/TSConsole/Debug/link.read.1.tlog
src/TSConsole/Debug/link.write.1.tlog
src/TSConsole/Debug/rc.command.1.tlog
src/TSConsole/Debug/rc.read.1.tlog
src/TSConsole/Debug/rc.write.1.tlog
src/TSConsole/Debug/stdafx.obj
src/TSConsole/Debug/TSConsole.Build.CppClean.log
src/TSConsole/Debug/TSConsole.lastbuildstate
src/TSConsole/Debug/TSConsole.log
src/TSConsole/Debug/TSConsole.obj
src/TSConsole/Debug/TSConsole.pch
src/TSConsole/Debug/TSConsole.res
src/TSConsole/Debug/vc110.idb
src/TSConsole/Debug/vc110.pdb
src/OXAutomationService/bin/Debug/OXAutomationService.exe
src/OXAutomationService/bin/Debug/OXAutomationService.exe.config
src/OXAutomationService/bin/Debug/OXAutomationService.pdb
src/OXAutomationService/bin/Debug/OXAutomationService.vshost.exe
src/OXAutomationService/bin/Debug/OXAutomationService.vshost.exe.config
