<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="oxAutomation">
      <section
        name="task"
        type="OXAutomation.Configuration.TaskSection, OXAutomationConsole"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <oxAutomation>
    <task name="Restart TSConsole" startTime="13:32:00" period="00:00:20" process="TSConsole" restart="C:\Code\OXAutomation\src\Debug\TSConsole.exe">
      <send message="WM_KEYDOWN" wparam="0x0011" lparam="0x001D0001"/>
      <send message="WM_KEYDOWN" wparam="0x0051" lparam="0x00100001"/>
      <send message="WM_CHAR" wparam="0x0011" lparam="0x00100001" />
      <send message="WM_KEYUP" wparam="0x0051" lparam="0x00100001"/>
      <send message="WM_KEYUP"   wparam="0x0011" lparam="0x001D0001" sleep="100" />
      <send message="WM_SYSKEYDOWN" wparam="0x0012" lparam="0x20380001"/>
      <send message="WM_SYSKEYDOWN" wparam="0x0046" lparam="0x20210001"/>
      <send message="WM_SYSCHAR" wparam="0x0066" lparam="0x20210001"/>
      <!--<send message="WM_CLOSE" lparam="" wparam="" sleep="1000" />-->
    </task>
  </oxAutomation>
  <appSettings>
    <add key="Schedule" value="6:0:0" />
    <add key="Timeout" value="0:0:20" />
  </appSettings>
</configuration>